
@{
    ViewData["Title"] = "ModuloMaestro";
}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<body>

<center><h1 class="  text-white">Hotel  Admind </h1></center>


@* <div class="container container-fluid"> *@
   @*  ViewBag.totalUsuarios=totalUsuarios;
    ViewBag.habitacionesOcupadas=habitacionesOcupadas;
    ViewBag.habitacionesDisponibles = habitacionesDisponibles; *@
        

        <div class="row justify-content-center mt-2"style="margin-left:15%">

            <div class=" col-12   col-md-3 text-white">   
               
                <div class="card  bg-success shadow-lg border-0">
                   
                    <h5 class="card-header"> Total de usuarios</h5>

                    <div class="card-body">
                      <label>@((int)ViewBag.totalUsuarios)</label>

                    </div>

                </div>


            </div>
            <div class="col-12 col-md-3  text-white ">
            <div class="card  bg-warning shadow-lg border-0">
                   
                    <h5 class="card-header">Habitaciones disponible</h5>

                    <div class="card-body">
                <label> @((int)ViewBag.habitacionesDisponibles)</label>

                       

                    </div>

                </div>


            </div>

            <div class="col-12  col-md-3 text-white">
                <div class="card bg-danger">
                

                    <h5 class="card-header">Habitaciones Ocupadas </h5>

                    <div class="card-body ">

                        <div class="card-text">

                        <label> @((int)ViewBag.habitacionesOcupadas)</label>


                        </div>

                    </div>

                </div>


            </div>


        </div>


      
       

        <div class="row justify-content-center mt-4">


        <div class="col-12 col-md-6 ">

            <div class="card shadow-lg border-0">

                <div class="card-body">


                    <canvas id="graficoDashboard"></canvas>
                   


                </div>


            </div>



        </div>


        </div>
     
    
@* </div> *@




</body>



<script>
    document.addEventListener("DOMContentLoaded", function () {
        var ctx = document.getElementById("graficoDashboard").getContext("2d");

        function actualizarGrafico() {
            fetch('/Home/ObtenerDatos')
                .then(response => response.json())
                .then(data => {
                    if (window.miGrafico) {
                        window.miGrafico.data.labels = data.etiquetas;
                        window.miGrafico.data.datasets[0].data = data.valores;
                        window.miGrafico.update(); // Actualizamos el grafico
                    } else {
                        window.miGrafico = new Chart(ctx, {
                            type: 'bar', // Puedes cambiarlo a 'line', 'pie',bar etc.
                            data: {
                                labels: data.etiquetas,
                                datasets: [{
                                    label: 'Datos del Hotel',
                                    data: data.valores,
                                    backgroundColor: ['#28a745', '#ffc107', '#dc3545']
                                }]
                            },
                            options: {
                                responsive: true,
                                animation: {
                                    duration: 2000
                                }
                            }
                        });
                    }
                });
        }

        actualizarGrafico(); // Llamar al cargar la página
        setInterval(actualizarGrafico, 5000); // Refrescar cada 5 segundos
    });
</script>


<style>

  
    body{
        background-color:black;
        padding-top:6%
    
  }
       

   #create:hover {
    cursor:pointer;
    color:green !important;
   background-color:orangered !important

   }

</style>



                            @* prueba swetalert *@


                    <script>

    Swal.fire("Bienvenido al sistema  gestion de hoteles ");


                    </script>