
 if()
<section id="galeria">
    <h4 class="bg-secondary text-center">Galeria</h4>

   

        <div class="row p-2">

            <div class="col-sm-4">

                
                    <img src="/img/01.jpg" />




              
            </div>

            <div class="col-sm-4">

                
                    <img src="/img/01.jpg" />




               

            </div>


            <div class="col-sm-4">

               
                    <img   src="/img/03.jpg"/>




               

            </div>

       </div>

</section>

       <style>



           img{
           
           height:400px
           }


       </style>