
@{
    ViewData["Title"] = "ModuloMaestro";
}

<body>

<center><h1 class=" bg-warning text-white">ModuloMaestro</h1></center>

<div class="row justify-content-center mt-3 " style="padding-left:18px">

    <div class="col-12">

        <h3 class="text-white">Hotel Admind</h3>


    </div>



</div>

@* <div class="container container-fluid"> *@   
      <div class="card  card-primary  "style="background-color:#f1f1f1f1">
        

        <div class="row justify-content-center mt-2">

            <div class=" col-12  col-sm-12 col-md-4">   

                <div class="card  bg-success ">
                   
                    <h4 class="card-header"> Total de usuarios</h4>

                    <div class="card-body">
                        <label>Usuarios</label>
                        <i class="fa-solid fa-user-group mt-auto p-1"></i>


                    </div>

                </div>


            </div>
            <div class="col-12 col-sm-12 col-md-4  text-white">
                <div class="card  bg-warning">
                   
                    <h3 class="card-header">Habitaciones</h3>

                    <div class="card-body bg-warning">

                        <div class="card-text">
                           <i class="fa-solid fa-person-shelter"></i>
                            <label>Habitaciones disponibles</label>


                        </div>

                    </div>

                </div>


            </div>

            <div class="col-12  col-sm-12 col-md-4 text-white">
                <div class="card " id="info-services">


                    <h3 class="card-header">Servicios</h3>

                    <div class="card-body ">

                        <div class="card-text">
                            Servicios
                            <div class="info gap-2">
                            <i class="fa-solid fa-user-doctor"></i>
                            <i class="fa-solid fa-utensils"></i>
                                <i class="fa-solid fa-wifi"></i>
                            </div>


                        </div>

                    </div>

                </div>


            </div>


        </div>


      </div>
       



      <div class="card   bg-secondary ">

          <div class="card-body">
              <img  class="card-img" src="~/img/03.jpg"/> 


          </div>


      </div>
@* </div> *@




</body>

<style>

  #info-services{
        background-color: #d31bcb !important;
  
  
  }
    body{
    
  
        background-image: url("/img/fondonegro.jpg");
     
        background-repeat:no-repeat;
    }

   #create:hover {
    cursor:pointer;
    color:green !important;
   background-color:orangered !important

   }

</style>