
@{
    ViewData["Title"] = "ModuloMaestro";
}

<body>

<center><h1 class=" bg-warning text-white">ModuloMaestro</h1></center>

<div class="row justify-content-center mt-3 " style="padding:8px">

    <div class="col-sm-6 col-md-12 col-lg-6">

        <h3 class="text-white">Hotel Admind</h3>


    </div>



</div>

</body>

<style>

    h1{
      -webkit-text-stroke-color:orange;
    cursor :pointer
    
    
    }
    body{
    
  
        background-image: url("/img/fondonegro.jpg");
     
        background-repeat:no-repeat;
    }

</style>