<center class=" card-text shadown  bg-warning text-white"style="padding:1rem;">
   @{ ViewData["Title"] = "Politica de Acceso al sistema ";
   <h1>@ViewData["Title"]</h1>
    }
</center>
   



@if (User.IsInRole("Administrador"))

{
    Layout = null;


}
<div class="card  pd-2 mt-3 justify-content-center bg-dark rounded-3" style="width:40rem;left:30%"><p class="card-text text-center"> <strong class="bg-warning">  @User.Identity.Name;</strong> No tiene aun un rol asignado o no tiene perniso para ingresar a este modulo  </p></div> @{
    
 

}
