


<footer class="main-footer bg-dark text-white p-3 bg-dark">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <!-- A la izquierda -->
        <div class="d-none d-sm-inline">
          
        </div>
        <!-- A la derecha -->
        <div>
            <strong>Todos los derechos reservados <a href="https://adminlte.io" class="text-white">Hotel demo prueba </a>.</strong>
        
        </div>
    </div>
</footer>

<style>
    footer{
    margin-top:600px;
     width:100%
    
    }


</style>