<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebHotel_vesion1._0</title>
    <!-- Google Font: Source Sans Pro -->
    @* <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"> *@

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/AdmindLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/AdmindLTE/dist/css/adminlte.min.css">
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
   
    @if(User.IsInRole("Administrador")||User.IsInRole("Empleado"))
    {
        <partial name="_Navbar" />
        <partial name="_Sidebar" />


    }
    else @if (!User.Identity.IsAuthenticated || User.IsInRole("Cliente"))
    
    {
       <partial name="_LayoutCliente"/>
       



    } 

            @RenderBody()
    <partial name="_Footer"/>
        
    

    <script src="/AdmindLTE/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/AdmindLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/AdmindLTE/dist/js/adminlte.min.js"></script>
 
    @await RenderSectionAsync("Scripts", required: false)



  
</body>
</html>
