@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<aside class="main-sidebar bg-dark elevation-4 position-fixed">
    <!-- Brand Logo -->
    <a class="nav-link text-red" asp-controller="Home" asp-action="Privacy">
        
      
    </a>

    <!-- Sidebar -->
    <div class="sidebar ">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex bg-purple">
            <div class="info justify-content-lg-around"><h3>Hotel Admin</h3></div>
           
        </div>
        <div class=" row justify-content-center mt-2">

            <div class="info"><i class="fa-solid fa-gauge"></i></div>


        </div>
        <div class="user-panel mt-3 pb-3 mb-3 d-flex bg-purple ">
        <div class="info justify-content-center">
            <a class="d-block text-dark" >@User.Identity.Name</a>
        </div>
        </div>
        <!-- SidebarSearch Form -->
       

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item menu-close">
                    <a  class="nav-link active">
                        <i class="bi bi-person-plus-fill"style="font-size:25px"></i>
                        <p class="text-red">
                            Usuarios
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        

                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Usuarios" asp-action="Create">
                                <i class="bi bi-plus-lg bg-white"></i>
                                <p class="text-dark">Registrar nuevo usuario</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a  class="nav-link active" asp-controller="Usuarios" asp-action="listar_Empleados">
                                <i class="bi bi-eye bg-success"></i>
                                <p class="text-dark">Ver usuarios  </p>
                            </a>
                        </li>  

                        </ul>
                        </li>
                        @* habitaciones *@

                      
                        
                        <li class="nav-item menu-close">
                            <a href="#" class="nav-link active text-dark">
                        <i class="bi bi-door-open"style="font-size:25px"></i>
                                <p>
                                    Habitaciones
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                            <a class="nav-link active text-dark" asp-controller="Habitaciones" asp-action="Create">
                                <i class="fa-solid fa-pen-to-square"></i>
                                        <p>Agregar Nueva </p>
                                    </a>
                                </li>


                                <li class="nav-item">
                            <a class="nav-link active text-dark" asp-controller="Habitaciones" asp-action="listarHabitaciones">
                                <i class="fa-solid fa-eye"></i><i class="fa-solid fa-eye"></i>
                                        <p>Ver   Habitaciones</p>
                                    </a>
                                </li>
                       
                    </ul>
                </li>

                @* Roles *@

                <li class="nav-item menu-close">
                    <a href="#" class="nav-link active text-dark">
                        <span><i class="bi bi-people"style="font-size:25px"></i></span>
                        <p>
                           Roles
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a  asp-action="ListarRoles"asp-controller="Roles" class="nav-link active text-dark">
                                <i class="bi bi-gear"></i>
                                <p> Roles registrados </p>
                            </a>
                        </li>


                        <li class="nav-item">
                            <a  asp-action="Create" asp-controller="Roles" class="nav-link active text-dark">
                                <i class="fa-solid fa-pen-to-square"></i>
                                <p>Agregar Nuevo</p>
                            </a>
                        </li>

                    </ul>
                </li>

                @* Productos *@
               
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
