@model WebHotel_vesion1._0.Models.Habitacion

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<
    


<div class="row justify-content-center mt-4">
    <div class="col-12 col-md-6">

        <div class="card shadow-lg">

            <div class="card-body">
                <div class="row bg-green">
                   <div class="col-12">



                        <label>Descripcion </label>
                        <p>@Model.Descripcion</p>

                   </div>
               

            </div>
            <div class="row ">
                <div class="col-12">

                        <label for="PrecioPorNoche "></label>
                        <p>@Model.PrecioPorNoche</p>


                </div>
            </div>
        </div>

    </div>
</div>
    <form asp-action="DeleteHabitacion">

        <input    asp-for="Id" hidden/>
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
