@model WebHotel_vesion1._0.Models.Habitacion

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>


<hr />
<div class="row justify-content-center mt-4">
    <div class="col-12 col-md-6">

        <div class="card  shadow-lg border-0"style="overflow:hidden">
            <h3 class="card-header  bg-warning ">Editar </h3>
            <div class="card-body">

                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                   
                   
                   
                    <div class="row">

                        <div class="col-12 ">

                            <div class="form-group">
                                <label asp-for="Numero" class="control-label"></label>
                                <input asp-for="Numero" class="form-control" />
                                <span asp-validation-for="Numero" class="text-danger"></span>
                            </div>


                        </div>

                    </div>

                    <div class="row">

                        <div class="col-12">

                            <div class="form-group">
                                <label asp-for="Tipo" class="control-label"></label>
                                <input asp-for="Tipo" class="form-control" />
                                <span asp-validation-for="Tipo" class="text-danger"></span>
                            </div>


                        </div>

                    </div>
                    

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="PrecioPorNoche" class="control-label"></label>
                                <input asp-for="PrecioPorNoche" class="form-control" />
                                <span asp-validation-for="PrecioPorNoche" class="text-danger"></span>
                            </div>

                    </div>
                    </div>
                  
                  
                    <div class="row">
                        <div class="col-12">
                           
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="EstaDisponible" /> @Html.DisplayNameFor(model => model.EstaDisponible)
                                </label>
                            </div>
                        </div>
                    </div>
                 

                    <div class="row">
                        <div class="col-12 col-md-8">


                            <div class="form-group">
                                <label asp-for="Descripcion" class="control-label"></label>
                                <textarea asp-for="Descripcion" class="form-control" rows="6"></textarea>
                                <span asp-validation-for="Descripcion" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="col-12 col-md-3">



                        <div class="form-group ">
                                <img id="imagenPrevisualizacion" src="@Url.Content("~/"+Model.imageUrl)" class="card-image " style="width:200px;height:200px;border;1px solid whiteSmoke; border-radius:50% "> 

                                @* <img src="@Url.Content("~/"+Model.imageUrl)?v=@DateTime.Now.Ticks" alt="Imagen de la habitación"> *@

                              
                              <input id="Imagen" name="Imagen" type="file" accept="image/*" required="solo imagenes " onchange="CargarImagen(event)" />
                        </div>
                    </div>

                    </div>
                  
                    
                    <div class="form-group">
                        <a asp-action="listarHabitaciones" class="btn bt-sm btn-primary">Atras</a>
                        <input type="submit" value="Actualizar" class="btn btn-warning" />
                    </div>
                </form>


            </div>

        </div>
        
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>


    var CargarImagen = function (event) {

        var result = document.getElementById("imagenPrevisualizacion");
        result.src = URL.createObjectURL(event.target.files[0]);

    }

</script>  