@model WebHotel_vesion1._0.Models.ViewModel.UsuarioViewModel;

@using WebHotel_vesion1._0.Enum;


@if (TempData["Status"]!= null)
{
    var status = (UserCreationStatus)Convert.ToInt32(TempData["Status"]);

    <script>

        document.getElementById("formulario_registro").reset();

    </script>
    switch(status)
    {

        case UserCreationStatus.Success:
            <div class=" row  justify-content-center mensaje" style="padding-top:200px !important">

                <div class="col-12 col-md-8 col-lg-6">

                    <h3 class="bg-success"> usuario registrado satisfactoriamente</h3>
                </div>
            </div>


            break;

        case UserCreationStatus.DuplicateEmailOrPassword:
            <div class=" row justify-content-center m mensaje" style="padding-top:200px !important">

                <div class="col-12 col-md-8 col-lg-6">

                    <h3 class="bg-danger">Error  password o email duplicados</h3>
                </div>
            </div>
            break;
            

    
    }

    
}




<!DOCTYPE html>

<html >
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>


<hr />

    <div class=" row justify-content-center"style="margin-top:100px">
        <div class="col-12 col-md-8 col-lg-6">


            <form asp-controller="Empleados" asp-action="Create" method="post" class="bg-dark" id="formulario_registro">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                <div class="row justify-content-center mt-1">
                    <div class="col-sm-6 col-md-6 col-lg-5">
                        <div class="form-group">
                            <label asp-for="IdUsuario" class="control-label"></label>
                            <input asp-for="IdUsuario" class="form-control" />
                            <span asp-validation-for="IdUsuario" class="text-danger"></span>
                        </div>


                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-5">
                        <div class="form-group">
                            <label asp-for="NombreCompleto" class="control-label"></label>
                            <input asp-for="NombreCompleto" class="form-control" />
                            <span asp-validation-for="NombreCompleto" class="text-danger"></span>
                        </div>
                    </div>

                </div>


                <div class="row justify-content-center mt-1">
                    <div class="col-sm-6 col-md-6 col-lg-5">


                        <div class="form-group">
                            <label asp-for="Correo" class="control-label"></label>
                            <input asp-for="Correo" class="form-control" />
                            <span asp-validation-for="Correo" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-5">


                        <div class="form-group">
                            <label asp-for="Clave" class="control-label"></label>
                            <input asp-for="Clave" class="form-control" />
                            <span asp-validation-for="Clave" class="text-danger"></span>
                        </div>
                    </div>


                </div>

               


                <div class="form-group ">
                    <label for="IdRol"style="background-color:crimson; padding-left:6px">Rol</label>
                    <select name="IdRol" class="form-control" required style="background-color: lightblue; color: darkblue">
                        @foreach (var rol in  Model.Roles)
                        {
                            <option  value="@rol.IdRol">@rol.Nombre</option>
                        }
                    </select>
                </div>




                <div class="row justify-content-center">
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>

                </div>
            </form>


           
 

<div class="row justify-content-center">
    <a asp-action="listar_Empleados" class=" btn btn-lg bg-yellow mt-5">Atras</a>
</div>

</body>






        </div>


    </div>


</html>
<style>

    
    body{
       background-color:#0E1833 !important
    }
    form{  
     border:2px solid white;
    border-radius:10px
    }
    label{
    
    color:white
    
    }


</style>