@model WebHotel_vesion1._0.Models.ViewModel.UsuarioViewModel;

@using WebHotel_vesion1._0.Enum;


@if (TempData["Status"]!= null)
{
    var status = (UserCreationStatus)Convert.ToInt32(TempData["Status"]);

    <script>

        document.getElementById("formulario_registro").reset();

    </script>
    switch(status)
    {

        case UserCreationStatus.Success:
            <div class=" row  justify-content-center mensaje" style="padding-top:200px !important">

                <div class="col-12 col-md-8 col-lg-6">

                    <h3 class="bg-success"> usuario registrado satisfactoriamente</h3>
                </div>
            </div>


            break;

        case UserCreationStatus.DuplicateEmailOrPassword:
            <div class=" row justify-content-center m mensaje" style="padding-top:200px !important">

                <div class="col-12 col-md-8 col-lg-6">

                    <h3 class="bg-danger">Error  password o email duplicados</h3>
                </div>
            </div>
            break;
            

    
    }

    
}




<!DOCTYPE html>

<html >
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>


<hr />

    <div class=" row justify-content-center"style="margin-top:100px">
        <div class="col-12 col-md-8 ">
                <h2 class="text-center">Modulo de registro de Usuarios</h2>

            <form asp-controller="Empleados" asp-action="Create" method="post" class="bg-dark" id="formulario_registro">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                <div class="row justify-content-center mt-1">
                    <div class="col-md-8 col-lg-11">
                        <div class="form-group">
                            <label asp-for="IdUsuario" class="control-label"></label>
                            <input asp-for="IdUsuario" class="form-control" required/>    
                            <span asp-validation-for="IdUsuario" class="text-danger"></span>
                        </div>


                    </div>

                    <div class=" col-md-8 col-lg-11">
                        <div class="form-group">
                            <label asp-for="NombreCompleto" class="control-label"></label>
                            <input asp-for="NombreCompleto" class="form-control" required />
                            <span asp-validation-for="NombreCompleto" class="text-danger"></span>
                        </div>
                    </div>

                </div>


                <div class="row justify-content-center mt-1">
                    <div class="col-md-8 col-lg-11">


                        <div class="form-group">
                            <label asp-for="Correo" class="control-label"></label>
                            <input asp-for="Correo" class="form-control" required />
                            <span asp-validation-for="Correo" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="col-md-8 col-lg-11">


                        <div class="form-group">
                            <label asp-for="Clave" class="control-label"></label>
                            <input asp-for="Clave" class="form-control" required />
                            <span asp-validation-for="Clave" class="text-danger"></span>
                        </div>
                    </div>


                </div>

               
                <div class="row   mt-2"style="width:30% !important;margin-left:4%">

                    <div class="col-12 col-md-6  col-lg-8 ">

                                <div class="form-group  bg-white justify-content-center ;">
                                <label for="IdRol" style="color:black; padding-left:6px">Rol</label>
                                <select name="IdRol" class="form-control  " required style="background-color: lightblue; color: darkblue">
                                    @foreach (var rol in Model.Roles)
                                    {
                                        <option value="@rol.IdRol">@rol.Nombre</option>
                                    }
                                </select>
                            </div>

                   
                    



                </div></div>

                




                <div class="row justify-content-center">
                    <div class="form-group">
                        <input type="submit" value="Agregar registro" class="btn btn-primary btn-outline" />
                    </div>

                </div>
            </form>


           
 

<div class="row justify-content-center">
    <a asp-action="listar_Empleados" class=" btn btn-lg bg-yellow mt-5">Atras</a>
</div>

</body>






        </div>


    </div>


</html>
<style>

    
    body{
       background-color:black 
    } 
    form{  
     border:2px solid white;
    border-radius:10px
    }
    label{
    
    color:white
    
    }


</style>