@model WebHotel_vesion1._0.Models.Usuario

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

    
<div class="container container-fluid"></div>
<div class="row justify-content-center">
<div class="col-12 col-md-6">

    <div class="card card-primary shadow-lg">

            <div class="card-title text-danger p-2"><i class="fa-solid fa-circle-exclamation"></i><h3>Esta  seguro que desea eliminar este usuario</h3>
                </div>
          
        <div card-body>
            <div class="row">
                
                    <div class="col-12 col-md-8">

                        <form asp-action="DeleteUser" method="post" class="">
                            <div class="row">
                       <div class="col-6">
                                    <label>Nombre</label><span></span>
                                    <div class="form-group">
                                       

                                        @Model.NombreCompleto
                                    </div>


                       </div>

                                <div class="col-6">
                                    <label>Correo</label>
                                    <div class="form-group">

                                      

                                       

                                            @Model.Correo


                                        
                                    </div>



                                </div>

                            </div>
                         
                               <div class="row justify-content-center">

                                   <div class="col-12 col-md-6">

                                    <img id="imagenPrevisualizacion" src="@Url.Content("~/"+Model.ImageUrl)" class="card-image " style="width:200px;height:200px; border;1px solid whiteSmoke;border-radius:50%">





                                </div>




                               </div>
                              
                            <div class="row">

                                <div class="col-4">
                                    <input type="hidden" asp-for="IdUsuario" />

                                    <a asp-action="listar_Empleados" class="btn btn-warning">Cancelar</a>
                                   </div>
                           <div class="col-4">
                                    <input type="submit" value="Eliminar" class="btn btn-danger  btn-outline" />

                                </div>
                            </div>
                           
                           

                        </form>
                        
                      
                        </div>
                       
                       

            </div>


            

        </div>



           
        </div>
</div>
</div>
    <hr />
    
   

   
     




            <style>

                .form-group{
                color:green;
                font-weight:300
                
                
                
                }

                .row{padding:2% ;
                
              
                
                }
                body{
                background-color:purple;
                
                }
               
            </style>