
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Log in</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/AdmindLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="/AdmindLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/AdmindLTE/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page bg-dark">
    <div class="login-box">
        
        <!-- /.login-logo -->
        <div class="card  card-outline card-primary shadow-lg borde-0">
            <div class="card-body login-card-body">
               <div class="row justify-content-center pb-2"style="margin-bottom:2px ;border-bottom:1px solid gray">

                    <img src="/AdmindLTE/dist/img/hotel.png" style="width:150px;height:100px" />
               </div> 

                <p class="login-box-msg"><strong>Iniciar sesion</strong></p>

                <form asp-controller=  "Acceso" asp-action="Login" method="post">
                    <div class="input-group mb-3" style="border-radius:8px">
                        <input type="email" class="form-control" placeholder="Email" name="Correo" >
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3" style="border-radius:8px">
                        <input type="password" class="form-control" placeholder="Password" name="Clave">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row justyfy-content-center"style="padding-left:19%">
                       
                        <!-- /.col -->
                        <div class="col-12 col-md-8 w-100">
                            <input type="submit" class="btn btn-outline btn-success btn-lg" value="Iniciar Sesion"></>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

              
                <!-- /.social-auth-links -->

               

                
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="/AdmindLTE/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/AdmindLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/AdmindLTE/dist/js/adminlte.min.js"></script>
</body>
</html>